.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
    'm h h h h h h h h h h .'
    'm c c c c c c c c c c c'
    'm f f f f f f f f f f .';
}

.header {
  /* grid-column: 1 / -1; */
  grid-area: h;
}

.menu {
  grid-area: m;
}

.content {
  /* grid-column: 2 / -1; */
  grid-area: c;
}

.footer {
  /* grid-column: 1 / -1; */
  grid-area: f;
}
