.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  /* justify-items: stretch; */
  /* align-items: stretch; */
}

.header {
  grid-column: 1 / -1;
}

.menu {
  grid-column: 1 / 3;
}

.content {
  grid-column: 3 / -1;
  /* align-self: center; */
  /* justify-self: center; */
}

.footer {
  grid-column: 1 / -1;
}
