.container {
  border: 1px solid black;
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  /* justify-content */
  justify-content: space-arround; /* space-evenly */
  /* align-content */
  align-content: center;
}
