// Text Styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: #ccc 1px solid;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}

// Buttons
.btn {
  display: inline-block;
  background-color: $light-color;
  color: #fff;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;

  &.btn-primary {
    @include set-background($primary-color);
    &:hover {
      background-color: lighten($primary-color, 5%);
    }
  }

  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background-color: lighten($dark-color, 5%);
    }
  }

  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background-color: lighten($success-color, 5%);
    }
  }

  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background-color: lighten($danger-color, 5%);
    }
  }

  &:hover {
    background-color: lighten(&dark-color, 20%);
    color: white;
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
