.container {
  border: 5px solid #ffcc5c;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.logout {
  align-self: flex-start;
}

.home {
  align-self: flex-end;
}
